.text-input {
    -fx-text-fill: #fff;
    -fx-border-color: #01599d;
    -fx-background-color: #001d33;
    -fx-background-insets: 0;
    -fx-border-radius: 20;
}

.menu {
    -fx-background-color: #001d33;
}

* {
    -fx-font-family: "Fira Sans", "DejaVu Sans";
}